.container {
    display: none;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-signin2
{

}

.pref-none {
    background-color: white;
}

.pref-goto {
    fill: #008a8a !important;
}

.pref-beento {
    fill: #00008b !important;
}
